acm_skip.d2v
acm_cow.d2v
acm_cow.d2v.syn0.npy
acm_cow.d2v.syn1.npy
acm_cow.d2v.syn1neg.npy
acm_skip.d2v.syn0.npy
acm_skip.d2v.syn1.npy
acm_skip.d2v.syn1neg.npy
acm_cow.d2v.docvecs.doctag_syn0.npy
acm_skip.d2v.docvecs.doctag_syn0.npy
